User root
Host kuaiyun
HostName 122.114.119.66
Port 22
StrictHostKeyChecking no
IdentityFile ~/.ssh/wangxudong_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO

